<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto" package="com.kkinder.sharelocation"
	android:versionCode="143" android:versionName="1.4.3">
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="7"></uses-sdk>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowBackup="true" android:allowClearUserData="true">
		
		<activity android:name=".Preferences" android:label="@string/preferences_activity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.kkinder.sharelocation.action.PREFERENCES" />
			</intent-filter>
		</activity>
		<uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
		<activity android:name=".GpsInfo" android:label="@string/app_name" android:screenOrientation="portrait">
		    <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter></activity>
	</application>
</manifest> 